# Node.js
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Project specific
app-service/node_modules/
app-service/dist/
app-service/client/node_modules/
app-service/client/dist/

# Synapse & Matrix (Secrets and DBs)
.env
synapse/config/homeserver.yaml
synapse/config/homeserver.db
synapse/config/homeserver.db-shm
synapse/config/homeserver.db-wal
synapse/config/localhost.signing.key
synapse/config/app-service-registration.yaml
synapse/config/media_store/

# OS files
.DS_Store
Thumbs.db
\#*#

# Docker
.dockercache
synapse/modules/plural_gatekeeper.py~
*:Zone.Identifier
