[Default]
LogLevel = Debug
SSL = False

[plural_decrypter]
# Use your PROJECT_NAME-synapse here (default: pluralmatrix-synapse)
Homeserver = http://pluralmatrix-synapse:8008
ListenAddress = 0.0.0.0
ListenPort = 8010
User = @plural_decrypter:localhost
Password = decrypter_password
UseKeyring = False
