id: REPLACE_WITH_UNIQUE_ID
hs_token: REPLACE_WITH_SECURE_TOKEN
as_token: REPLACE_WITH_SECURE_TOKEN
url: http://app-service:8008
sender_localpart: plural_bot
namespaces:
  users:
    - exclusive: true
      regex: '@_plural_.*'
  aliases:
    - exclusive: true
      regex: '#_plural_.*'

de.sorunome.msc2409.push_ephemeral: true
push_ephemeral: true

# Tells Synapse this AS is allowed to masquerade devices
org.matrix.msc3202: true
